header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(191, 33%, 78%);
    padding: 1rem 0;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

footer {
    width: 100%;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;

    background-color: #B4D2D9;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    display: block;
}

main {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;

    flex: 1 0 auto;               
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    gap: 3rem;

    padding-top: 6rem;            
    padding-bottom: 2rem;          
}


.botao {
    border: .25rem solid #617901;
    border-radius: .5rem;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.return {
    position: fixed;
    top: 6rem;
    left: 1rem;
}

.lista {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: normal;
    font-size: 1rem;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.75rem;
}


.adproduto {
    width: 100%;
    max-width: 480px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.5rem;  

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

main .adproduto {
    margin-top: 2.5rem;
}

.digitar {
    display: flex;
    flex-direction: column;
}

.confirmar {
    border: .25rem solid #DE261E;
    border-radius: .5rem;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    color: #DE261E;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.controle {
    border: .25rem solid black;
    border-radius: 1rem;
    background-color: #646464;
    text-align: center;
    font-weight: bold;
    width: 2rem;
}

.total {
    border: .25rem solid black;
    background-color: #646464;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.selecionar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

.cabrelatorio {
    background-color: #B18256;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem;
}

.cabestoque {
    border: .25rem solid #DE261E;
    border-radius: .5rem;
    padding: 12px 16px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.prodestoque {
    border-left: .25rem solid #646464;
    border-bottom:  .25rem solid #646464;
    border-right:  .25rem solid #646464;
    border-radius: .5rem;
    padding: 0 16px 12px 16px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ajustes {
    height: 70%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.lista,
.adproduto,
.ajustes,
.perfil {
    width: 90%;
    max-width: 480px;
}

.ajustes,
.perfil {
    width: 100%;
    max-width: 480px;
    margin: 2rem auto 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}